<div fxLayout="column" fxLayoutAlign="center center" class="flex-holder">
  <form class="example-form">
    <md-input-container class="example-full-width">
      <input mdInput name="password" type="password" class="form-control" [(ngModel)]="user.password"
             placeholder="Password" disabled="{{loading}}"/>
    </md-input-container>
    <md-input-container class="example-full-width">
      <input mdInput name="confirmpassword" type="password" class="form-control" [(ngModel)]="passwordConfirm"
             placeholder="Confirm Password" disabled="{{loading}}"/>
    </md-input-container>
    <div class="button-holder">
      <a md-raised-button
         (click)="changePassword()" disabled="{{loading}}">Change Password</a>
    </div>
  </form>
</div>
