<div fxLayout="column" fxLayoutAlign="center center" class="flex-holder">
  <form class="example-form" action="/request-password-reset?sadf">
    <md-input-container class="example-full-width">
      <input mdInput name="email" type="email" class="form-control" [(ngModel)]="user.email" placeholder="Email"/>
    </md-input-container>
    <br/>
    <a md-raised-button (click)="reset()" disabled="{{loading}}">Reset password</a>
    <a md-button  [routerLink]="['/auth/login']" disabled="{{loading}}">Login</a>
    <a md-button  [routerLink]="['/auth/signUp']" disabled="{{loading}}">Signup</a>
  </form>
</div>
