<div class="all-cut-holder">
  <md-toolbar class="secondary">

    <md2-datepicker container="dialog" openOnFocus="true" required (change)="changeDate()"
                    [(ngModel)]="startDate" name="startDate"
                    placeholder="Start Date"></md2-datepicker>

    <md2-datepicker color="warn" container="dialog" openOnFocus="true" required (change)="changeDate()"
                    [(ngModel)]="endDate" name="endDate"
                    placeholder="End Date"></md2-datepicker>


    <button md-icon-button class="print" (click)="openPrintDialog()">
      <md-icon>grid_on</md-icon>
    </button>

  </md-toolbar>

  <md-nav-list dense>
    <!--<md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>-->
    <md-list-item *ngFor="let item of cuts" [routerLink]="['/cut/viewCut', item.id]">
      <md-icon md-list-icon>shopping_basket</md-icon>
      <h4 md-line>Date : {{item.date | date : 'dd MMM yy'}} -- Deliver Date : {{item.deliverDate | date : 'dd MMM yy'}}</h4>
      <h4 md-line>Pattern No : {{ item.patternNo }} - </h4>
      <h4 md-line>No Of Pieces : {{ item.noOfPieces }}</h4>
      <p md-line> Description : {{ item.note }} </p>
      <button md-icon-button *ngIf="userRole === 'admin'" (click)="deleteCut($event, item)" color="warn">
        <md-icon>delete</md-icon>
      </button>
    </md-list-item>
  </md-nav-list>
</div>
